.auth__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../../../../../public/files/_root/login.jpg');
  background-size: cover;

  .container {
    height: 100%;

    form {
      height: 100%;
      > .row {
        height: 100%;

        > .col-md-6 {
          height: 100%;
        }
      }
    }

    .col-md-6 {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .auth__from {
        width: 100%;
        background: $white;
        padding: 1rem;

        a {
          padding: 0;
        }
      }
    }
  }
}