.nav-bar {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  @include box-shadow(2px 0 3px rgba(0, 0, 0, .5));
  line-height: 60px;
  padding-left: 1rem;

  .profile {
    img {
      border-radius: 50%;
      cursor: pointer;
    }

    > ul {
      right: auto;
      left: 0;

      li {

        a {
          padding: 0.75rem 0.5rem;
        }

        .divider {
          margin: 0;
        }
      }
    }
  }

  .brand-name {
    width: 250px;
    font-size: 30px;
    span {
      color: #fff;
    }
  }
}