.inline-block {
  display: inline;
}

.control-label {
  font-size: 80%;
}

.input-group {

  a {
    border-radius: 0 $border-radius-base $border-radius-base 0 !important;
  }

  input {
    border-radius: $border-radius-base 0 0 $border-radius-base !important;
  }
}

.bootstrap-select.btn-group .btn .caret {
  position: absolute;
  top: 50%;
  left: 12px;
  right: auto; /* this line should be added to override the default behavior */
  margin-top: -2px;
  vertical-align: middle;
}

.bootstrap-select {
  .filter-option {
    text-align: right !important;
  }
}

.bootstrap-select > .dropdown-toggle {
  padding-left: 25px;
  padding-right: 15px;
}

// JEasyUi
.datagrid {

  .fa {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  .l-btn-text {
    margin-right: 2.2rem !important;
  }

  .datagrid-filter-btn {
    padding: 5px 7px 0 0;
  }
}

// Fixing Input-Groups
.input-group {

  .input-group-addon {
    border-right: 1px solid #ccc;
    border-left: 1px solid;
    border-radius: 0 $border-radius-base $border-radius-base 0;
  }
}

// Selectize

.selectize-control.multi .selectize-input > div {
  background: $brand-info !important;
  color: font-color($brand-info) !important;
}